name: MacOS wxOSX builds

on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'
      - 'Gemfile'
      - '.yardopts'
      - '.gitignore'
      - 'LICENSE'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  WXWIDGETS_ROOT: ${{ github.workspace }}/ext/wxWidgets

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-13
            arch: x86_64
            ruby: 'ruby'
          - os: macos-14
            arch: aarch64
            ruby: 'ruby'
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} ${{ matrix.arch}} ruby-${{ matrix.ruby }}
    steps:
      - name: Checkout wxRuby3/Shapes
        uses: actions/checkout@v5

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Display runtime environment
        run: |
          echo $PATH
          uname -a
          ruby -v

      - name: Setup Ruby gems
        run: |
          bundle install

      - name: Run wxRuby3/Shapes regression tests
        run: |
          bundle exec rake test
