# CI workflow building wxRuby3 under Windows.
name: Windows wxMSW builds

on:
  push:
    branches:
      - master
    tags:
      - v*
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/**'
      - '**.md'
      - 'Gemfile'
      - '.yardopts'
      - '.gitignore'
      - 'LICENSE'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-2022
            platform: 'x64'
            ruby: 'ruby'
            wxr_type: local
          - os: windows-2022
            platform: 'x64'
            ruby: 'ruby'
            wxr_type: remote
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} wxMSW ${{ matrix.platform }} ruby-${{ matrix.ruby }} wxruby-${{ matrix.wxr_type }}
    steps:
      - name: Checkout wxRuby3/Shapes
        uses: actions/checkout@v5

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Setup Ruby gems
        run: |
          If ("${{ matrix.wxr_type }}" -eq "local") {
            gem install wxruby3 -- prebuilt=none
            wxruby setup --autoinstall
          } 
          bundle install 

      - name: Run wxRuby3/Shapes regression tests
        run: |
          bundle exec rake test
